STRINGTABLE
BEGIN
 2001 , "CONTROLLER"
 2002 , "VIEW"
 2003 , "Language"
 2004 , "Objects"
 2005 , "CAMERA"
 2006 , "COMPASS"
 2007 , "EXTENDIBLE"
 2008 , "FACETTE"
 2009 , "GROUP"
 2010 , "MACRO"
 2011 , "MANOEUVRABLE"
 2012 , "POLYEDER"
 2013 , "RADIALEMITTER"
 2014 , "RECEPTOR"
 2015 , "SPOTEMITTER"
 2016 , "TACTILE"
 2017 , "TURNABLE"
 2018 , "ULTRASONIC"
 2019 , "VEHICLE"
 2020 , "WHISKER"
 2021 , "WHISKERFIELD"
 2022 , "WORLD"
 2023 , "Attributes"
 2024 , "AMBIENT"
 2025 , "ANGLE"
 2026 , "AXLE_WIDTH"
 2027 , "BACKGROUND"
 2028 , "BASEPOINTS"
 2029 , "BODYCOLOR"
 2030 , "CLASS"
 2031 , "COLOR"
 2032 , "DEPTH"
 2033 , "DETAILLEVEL"
 2034 , "EMITTERCOLOR"
 2035 , "EXPONENT"
 2036 , "FACES"
 2037 , "FACTOR"
 2038 , "LENGTH"
 2039 , "MOVETO"
 2040 , "NOISE"
 2041 , "PATH"
 2042 , "QUICKSHADING"
 2043 , "RADIATION"
 2044 , "RANGE"
 2045 , "REMARK"
 2046 , "RESOLUTION"
 2047 , "RESTR_ROT_X"
 2048 , "RESTR_ROT_Y"
 2049 , "RESTR_ROT_Z"
 2050 , "RESTR_SPEED"
 2051 , "RESTR_TRANS_X"
 2052 , "RESTR_TRANS_Y"
 2053 , "RESTR_TRANS_Z"
 2054 , "ROTATE"
 2055 , "SCALE"
 2056 , "SENSORCOLOR"
 2057 , "SHADOWS"
 2058 , "SIZE"
 2059 , "STANDARDCOLOR"
 2060 , "START"
 2061 , "SURFACE"
 2062 , "SWEEP"
 2063 , "TEXTURE"
 2064 , "TRANSPARENT"
 2065 , "TURNX"
 2066 , "TURNY"
 2067 , "TURNZ"
 2068 , "WHEEL_BASE"
 2069 , "WHISKERCOLOR"
 2070 , "X_AXIS"
 2071 , "Y_AXIS"
 2072 , "Z_AXIS"
 2073 , "ZBUFFER"
 2074 , "Ports"
 2075 , "DISTANCE"
 2076 , "EMIT"
 2077 , "EXECUTED"
 2078 , "MOVE"
 2079 , "ROT_X"
 2080 , "ROT_Y"
 2081 , "ROT_Z"
 2082 , "SPEED"
 2083 , "STEERING"
 2084 , "TRANS_X"
 2085 , "TRANS_Y"
 2086 , "TRANS_Z"
 2087 , "VALUE"
 2088 , "WHERE"
 2263 , "LOAD"
 2463 , "SPECIAL"
 2261 , "RATIO"
 2461 , "WRAPAROUND"
 2233 , "DL"
END
